
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: rgb(243, 240, 226);
    --black-color: black;
    --border: 0.1rem solid rgba(255,255,255,0.4);

}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

.logo img{
    height: 7rem;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
}

section{
    padding: 3.5rem 7%;
}

a{
    color: var(--black-color);
    text-decoration: none;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: 30rem;
    font-size: 1.5rem;
    color: white;
    background-color: var(--black-color);
    cursor: pointer;

}

.heading{
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 3.3rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.2rem solid black;
}

.heading span{
    text-transform: uppercase;
}
.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}


/* header start */

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgba(0 0 0 / 20%);
    transform: scaleY(0);
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #4f4a2d;
}

.header .search-form input{
    width: 100%;
}

.header .logo img{
    height: 10rem;
}

.header{
    background-color: #fff;
    display: flex; /*yan yana getirir */
    align-items: center; /* yazıları merkeze getirir */
    justify-content: space-between; /*sayfanın tam ortasına getirir (yatayda)*/
    padding: 0.8rem 7%;
    margin: 2rem 7%; /*her yerden bosluk bırakır*/
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.30);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.2rem solid transparent;

}

.header .navbar .active,
.header .navbar a:hover{

    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
/* header end */

/* home start */
.home {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Yatay olarak ortalar */
}

.home .content-wrapper {
    display: flex;
    align-items: center; /* İçerikleri dikeyde ortalar */
}

.home .content {
    display: flex;
    flex-direction: column; /* Metinleri dikeyde hizalar */
    max-width: 80rem; /* Metin genişliğini ayarlar */
    margin-right: 1rem; /* Resim ile metin arasında boşluk sağlar */
    /* Metinleri biraz sola kaydırmak için padding-left kullanabilirsiniz */
    padding-right: 18rem; 
}

.home .content h3 {
    font-size: 4rem;
    color: black;
}

.home .content h4 {
    font-size: 3rem;
    color: #484430;
}

.home .content p {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
    text-transform: none; /* Baş harfleri büyük yapmaz */

}

.home .content img {
    max-width: 150px; /* Resmin genişliğini artırır */
    height: auto; /* Orantıları korur */
    display: block; /* Blok seviyesinde görünmesini sağlar */
}

/* home end */

/* about start */
.about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .img{
    width: 100%;
} 

.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    font-size: 2.1rem;
    color: black;
}
.about .row .content p{
    font-size: 1.3rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none; /* Baş harfleri büyük yapmaz */

}
/* about end */

/* contact start */
.contact .row{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    gap: 1rem;
} 

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
   text-transform: uppercase;
   font-size: 3.5rem;
   color: white;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: white;
}

.contact .row form .inputBox i{
   color: #fff;
   font-size: 2rem;
   padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: transparent;
    border-color: #fff;
}

.contact .row form .btn{
    color: black;
    background-color: #fff;
    font-weight: bold;

}
/* contact end */

/* footer start */
.footer{
    background-color: rgb(232, 229, 216);
    text-align: center;
}

.footer .search{
    display: flex;
    color: #4f4a2d;

    justify-content: center ;
}

.footer .search .search-input{
    width: 30rem;
}

.footer .search .btn-primary{
    background-color: white;
    color: #4f4a2d;
    padding: 1rem 2rem;
    margin-left: 1rem;
}

.footer .share{
    padding: 2rem 0;
}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #4f4a2d;
    border  : #4f4a2d;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover{
   background-color: white;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a{
    background-color: white;
    padding: 0.7rem 2rem ;
    color: white;
    font-size: 2rem;
    color: #4f4a2d;
    border-radius: 1.5rem;
    border: var(--border);
}

.footer .links a:hover{
    background-color: #aeac96;
    opacity: 0.8;
}
.footer .links a.active{
    background-color: #aeac96;
}
.footer .credit{
    font-size: 1.5rem;
    color: #636155;
    font-weight: 300;
    padding-top: 1.5rem;
}
.footer .credit span{
    color:#636155;
}
/* footer end */




